<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ensure that the file or directory exists, otherwise forward to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
